.voltar {
  background-color: #a765e6;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  
  .conteudo-voltar {
    width: fit-content;
    transition: ease all 0.2s;
    display: flex;
    align-items: center;
    gap:15px;
  }
  .conteudo-voltar:hover {
    .material-symbols-outlined,
    p {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.material-symbols-outlined {
  margin: auto 0;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 50%;
}

p {
  font-size: 30px;
  margin: 0;
}
