h1,
h2,
#operacaoAtual {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  padding: 10px 25px;
  border-radius: 10px;
  min-width: 150px;
}

h1,
#operacaoAtual {
  background-color: rgb(252, 98, 188);
}

h2 {
  background-color: #a765e6;
}

.operacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.video-container {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
}

.video-container video {
  width: 200px;  
  height: 250px; 
}

.alternativas {
  background-color: rgba(255, 255, 255, 0.5);
  height: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 3%;
  right: 0;
  width: 100%;
}

.alternativa {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #a765e6;
  padding: 1rem 1.5rem;
  border-radius: 5%;
  border: none;
  font-size: 2rem;
  height: 90px;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    background-color: #4836ad;
    transform: scale(1.1);
    transition: ease 0.3s all;
  }
}
